.form {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
  justify-content: center;
}

.form input {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  transition: 0.3s linear;

  &:hover {
    border-color: #000;
  }

  &:focus {
    border-color: #4e75ff;
  }
}
