.form {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
  justify-content: center;
}

.form button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  border: transparent;
  transition: 0.3s linear;

  &:hover {
    background-color: #6c8cff;
  }
}

.form input {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  transition: 0.3s linear;

  &:hover {
    border-color: #000;
  }

  &:focus {
    border-color: #4e75ff;
  }
}
